<div class="row">

</div>

<div class="row" >

  <div class="col-md-10" >
    <div class="card" >
      <div class="card-header ">
        <h5 class="card-title">Catálogo de cursos</h5>
        <hr>
      </div>


      <div class="card-body">

        <canvas id=chartHours width="400" height="100"></canvas>
      </div>




      <div class="card-footer ">
        <hr>
        <div class="stats">
           [ZONA RESERVADA]     [ZONA RESERVADA]
        </div>
      </div>
    </div>
  </div>
</div>

